<% if @user.errors.any? %>
  <div id="error_explanation">
  	<div>
  		There are errors in your input.
  	</div>
  	<ul>
  		<% @user.errors.full_messages.each do |msg| %>
  		  <li>* <%= msg %> </li>
  		<% end %>
  	</ul>
  </div>
<% end %>
