 <div id="eventresult">
 	
 <ul class="events" style="list-style: none">
          <% @events.each do |e| %>
              <li>
              	  <%= gravatar_for e.user, true %>
               
                  <div id="haha">
                    <span class="user"><%= link_to e.user.name, e.user %></span> 
                    <span class="content"> was going to <%= e.where %> <%= time_ago_in_words(e.created_at) %> ago. </span>
                  </div>
                  <hr>
              </li>

          <% end %>
 </ul>
 </div>
