@import "bootstrap";

html {

}

body {
  padding: 20px;
  background: url(/assets/bg_img4.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.transparent{
  background: rgba(245, 245, 245, 0.4);
}

.center-block {
  background: #C82388;
}

.center {
  text-align: center;
}

.left {
  width: 40%;
  background: #C68686;
}

.right {
    width: 40%;
    margin-left: 50%;
}


.centerbox {

  width: 25%;  
  text-align: left;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
  background: rgba(245, 245, 245, 0.7);
  margin-top: 40px;
  
}

.centerbox h1 {
  text-align: center;
}

.nav .navbar {
  float:none;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Footer */

footer {
 
  margin-top: 45px;
  margin-bottom: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999; 
}

footer small {
  float: left;
}

footer a {
  color: #555;
}

footer ul {
  float:right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


#logo {
  float: left;
  margin-right: 10px;
  margin-left: 15px;

  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-grouop;
  @extend .error;
}


.centerbox input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: 30px;
  margin-bottom: 15px;
  //@include box_sizing;
}

#submit {
  margin-top: 10px;
  height: 40px;
}

.content {
  margin-top: 20px;
}


