.centerbox {
	margin-left:5px;
}

.navb {
	
	position: relative;
	width: 100%;
	background:#DADADA;
	
	outline-style: solid;
	outline-color: #777777;
	outline-width: 1px;
	overflow: hidden;
	
}

.navheader {
	left: auto;
	right: 20px;
	
}

.rightbar {
	right: auto;
	margin-right: 10px;
}

#logo {
	margin: 5px;
}



h1 {
	margin-left: 5px;
}
