<header>
	
	<nav class="navbar navbar-default nav" role="navigation">

		<div class="navbar-header">
			<%= link_to root_path, id: "logo" do %>
			  <%= image_tag "logo.png", size: "151x33" %>
			<% end %>		
		</div>		
	</nav>

</header>


</header>
