<header>

	<div class="navb">
		
		<div class="navheader">
		  <%= link_to root_path, id: "logo" do %>
			  <%= image_tag "logo.png", size: "151x33", class: "logo" %>
		  <% end %>
		</div>
			
				
		<div class="rightbar">
		  <% if signed_in? %>
	     	<%= link_to @current_user.name, @current_user%> 
			<% else %>
		         <%= link_to "Log in", signin_path %>				
			<% end %>			
		</div>
        

    </div>

</header>
